In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv("data/train_supervised_dataset.csv").fillna("")
test_df = pd.read_csv("data/test_dataset.csv").fillna("")

In [3]:
len(train_df)

25000

In [ ]:
len(train_df.drop_duplicates())

In [8]:
df = pd.concat([train_df, test_df])

In [10]:
len(df)

30000

In [11]:
len(df.drop_duplicates(subset=['name']))

29994

In [17]:
df[df.duplicated(subset=['name'])]

,id,name,good,brand
7494,7494,Корм д/кошек Friskies кролик-ово,корм,friskies
10923,10923,БХ Мыло хоз.Аист 72п 150г,мыло,аист
13143,13143,Коктейль молочный Растишка 210гр фруктовый ле...,коктейль,растишка
14608,14608,Липецкий Бювет вода артезианская 1.5,вода,липецкий бювет
17828,17828,Тесто слоеное Морозко б.др400 АКЦИЯ,тесто,морозко
24396,24396,МЕ2093535 Светильник встраиваемый 32643 поворо...,светильник,feron

In [19]:
train_df[train_df.duplicated(subset=['name'])]

,id,name,good,brand
7494,7494,Корм д/кошек Friskies кролик-ово,корм,friskies
10923,10923,БХ Мыло хоз.Аист 72п 150г,мыло,аист
13143,13143,Коктейль молочный Растишка 210гр фруктовый ле...,коктейль,растишка
14608,14608,Липецкий Бювет вода артезианская 1.5,вода,липецкий бювет
17828,17828,Тесто слоеное Морозко б.др400 АКЦИЯ,тесто,морозко
24396,24396,МЕ2093535 Светильник встраиваемый 32643 поворо...,светильник,feron

In [22]:
train_df[train_df['name'] == 'Корм д/кошек Friskies кролик-ово']

        id                              name  good     brand
4201  4201  Корм д/кошек Friskies кролик-ово  корм  friskies
7494  7494  Корм д/кошек Friskies кролик-ово  корм  friskies

In [18]:
test_df[test_df['name'] == 'Корм д/кошек Friskies кролик-ово']

Empty DataFrame
Columns: [id, name]
Index: []

In [14]:
train_df['input_text'] = train_df['name'].apply(lambda x: x.lower() + '<\s>')
test_df['input_text'] = test_df['name'].apply(lambda x: x.lower() + '<\s>')

In [17]:
train_df = train_df[train_df['good'].str.findall(',').str.len()<3]
train_df = train_df[train_df['brand'].str.findall(',').str.len()<3]

In [20]:
train_df['target_text'] = train_df[['good', 'brand']].apply(lambda r: f"good: {r['good']}; brand: {r['brand']} <\s>", axis=1)

In [22]:
train_df[['input_text', 'target_text']].to_csv('data/train_ner.csv', index=False)

In [23]:
test_df.to_csv('data/test_ner.csv', index=False)